<?xml version="1.0"?>
<ruleset name="L2dWpGithubUpdateLib">
	<description>Coding standards for l2d-wp-github-update-lib.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="l2dwpghul"/>
				<element value="L2dwpghul"/>
			</property>
		</properties>
	</rule>
</ruleset>
